{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login/Sign up</title>
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">

</head>
<body>
	<div class="cotn_principal">
		<br>
		<div class="cont_logo"><img src="{% static 'login/img/logo-dark.png' %}" width="30%" height="20%"/></div>
		<div class="cont_centrar">
	  
		  <div class="cont_login">
			<div class="cont_info_log_sign_up">
			  <div class="col_md_login">
				<div class="cont_ba_opcitiy">
	  
				  
				  <button class="btn_login" onclick="cambiar_login()" style="font-size: large;"><b>LOGIN</b></button>
				  <p>Don't have an account?</p><a href="#signin" style="color:#633a0c;"><b>Sign Up</b></a>
				  
				</div>
			  </div>
			  <div class="col_md_sign_up">
				<div class="cont_ba_opcitiy">
				  <button class="btn_sign_up" onclick="cambiar_sign_up()" style="font-size: large;"><b>SIGN UP</b></button>
                  <p>Already have an account?</p><a href="" style="color:#633a0c;"><b>LogIn</b></a>
				</div>
			  </div>
			</div>
	  
			<div class="cont_back_info">
			  <div class="cont_img_back_grey">
				<img src="{% static 'login/img/yale-assure-sl-hand-1500x1000.jpg' %}"/>
			  </div>
	  
			</div>
			<div class="cont_forms">
			  <div class="cont_img_back_">
				<img src="{% static 'login/img/yale-assure-sl-hand-1500x1000.jpg' %}"/>
			  </div>

			
			  <div class="cont_form_login">
				<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
				<h2>LOGIN</h2>
				<input type="text" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="/resetpassword" style="color: rgb(75, 50, 12);" ><b>Forget Password?</b></a>
				<a href="/"><button class="btn_login" onclick="cambiar_login()">LOGIN</button></a>
			  </div>
			  

	        
			  <div class="cont_form_sign_up" id="signin">
				<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
				<h2>SIGN UP</h2>
				<input type="text" placeholder="First Name" />
				<input type="text" placeholder="Last Name" />
				<input type="text" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<input type="password" placeholder="Confirm Password" />
				<a href="/login_signin"><button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button></a>
	  
			  </div>
			  
			</div>
	  
		  </div>
		</div>
	  </div>
</body>
</html>

<script>
	function cambiar_login() {
		document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
	  document.querySelector('.cont_form_login').style.display = "block";
	  document.querySelector('.cont_form_sign_up').style.opacity = "0";               
	  
	  setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },400);  
		
	  setTimeout(function(){    
	  document.querySelector('.cont_form_sign_up').style.display = "none";
	  },200);  
		}
	  
	  function cambiar_sign_up(at) {
		document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
		document.querySelector('.cont_form_sign_up').style.display = "block";
	  document.querySelector('.cont_form_login').style.opacity = "0";
		
	  setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
	  },100);  
	  
	  setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
	  },400);  
	  
	  
	  }    
	  	  
	  function ocultar_login_sign_up() {
	  
	  document.querySelector('.cont_forms').className = "cont_forms";  
	  document.querySelector('.cont_form_sign_up').style.opacity = "0";               
	  document.querySelector('.cont_form_login').style.opacity = "0"; 
	  
	  setTimeout(function(){
	  document.querySelector('.cont_form_sign_up').style.display = "none";
	  document.querySelector('.cont_form_login').style.display = "none";
	  },500);  
		
	}
	  
	 </script> 
	  
	  
<!-- partial -->
  
</body>
</html>
